<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hsoft.boot.mapper.ApplicationMapper">
	<select id="getSelectedApplication" parameterType="java.lang.Integer" resultType="kr.hsoft.boot.domain.ApplicationDomain">
			SELECT * FROM APPLICATION WHERE seq = #{seq}
	</select>
</mapper>