<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hsoft.boot.mapper.ApplicationMapper">
	<select id="getApplications" parameterType="java.lang.Integer" resultType="kr.hsoft.boot.dto.ApplicationDTO">
			SELECT * FROM APPLICATION WHERE USER = #{seq}
	</select>
	<select id="getApplication" parameterType="java.lang.Integer" resultType="kr.hsoft.boot.dto.ApplicationDTO">
			SELECT * FROM APPLICATION WHERE SEQ = #{seq} LIMIT 1
	</select>
</mapper>