<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.hsoft.boot.mapper.AuthMapper">
	<insert id="createAuthToken" parameterType="kr.hsoft.boot.domain.AuthDomain">
		INSERT INTO AUTH (USER_SEQ, TOKEN, RE_TOKEN, EXPIRE) VALUES (
			#{userSeq}, #{token}, #{reToken}, #{expire}
		)
	</insert>
	
	<delete id="deleteToken" parameterType="java.lang.String">
		DELETE FROM AUTH WHERE
	</delete>
	
	<select id="selectToken" parameterType="java.lang.String" resultType="kr.hsoft.boot.domain.AuthDomain">
		SELECT 
			SEQ AS seq,
			USER_SEQ AS userSeq,
			TOKEN AS token,
			RE_TOKEN AS reToken,
			EXPIRE AS expire,
			`CREATE` as `create`
		FROM AUTH 
		WHERE
			token = #{token} 
			and 
			(UNIX_TIMESTAMP(`create`) + expire) > UNIX_TIMESTAMP(NOW())
	</select>
</mapper>