<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.hsoft.boot.mapper.ProposalMapper">
	<select id="selectProposals" resultType="kr.hsoft.boot.dto.ProposalDTO">
		SELECT * FROM PROPOSAL
	</select>
	
	<select id="countProposalsForUser" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM PROPOSAL
		JOIN USER 
		ON USER.SEQ = PROPOSAL.USER
		WHERE USER.LOCATION = #{location}
			AND STATUS = 1
	</select>
	<select id="selectProposalsForUser" resultType="kr.hsoft.boot.dto.ProposalDTO">
		SELECT PROPOSAL.*, USER.LOCATION FROM PROPOSAL
		JOIN USER 
		ON USER.SEQ = PROPOSAL.USER
		WHERE LOCATION = #{location}
			AND STATUS = 1
		LIMIT #{pagination.unit} OFFSET #{pagination.offset}
	</select>

	<select id="selectProposalsForMaster" parameterType="java.lang.String" resultType="kr.hsoft.boot.dto.ProposalDTO">
		SELECT PROPOSAL.*, USER.LOCATION FROM PROPOSAL
		JOIN USER 
		ON USER.SEQ = PROPOSAL.USER
		WHERE LOCATION = #{location}
	</select>

	<select id="selectProposal" parameterType="java.lang.Integer" resultType="kr.hsoft.boot.dto.ProposalDTO">
		SELECT * FROM PROPOSAL WHERE SEQ = #{seq}
	</select>

	<select id="selectProposalBySeq" parameterType="java.lang.Integer" resultType="kr.hsoft.boot.dto.ProposalDTO">
		SELECT * FROM PROPOSAL WHERE SEQ = #{seq}
	</select>

	<insert id="insertProposal" parameterType="kr.hsoft.boot.dto.ProposalDTO">
		insert into PROPOSAL ( 
			TITLE, `USER`, CATEGORY, MIN_AGE, MAX_AGE,
			ADDRESS1, ADDRESS2, TARGET_GENDER, `DATE`, FEE, MIN_PARTICIPANTS, 
			MAX_PARTICIPANTS, REQUIREMENTS, CONTENTS
		) values (
			#{title}, #{user}, #{category}, #{minAge}, #{maxAge}, 
			#{address1}, #{address2}, #{targetGender}, #{date}, 
			#{fee}, #{minParticipants}, #{maxParticipants}, #{requirements}, #{contents}
		)
	</insert>
	
	<update id="putProposal">
	</update>
</mapper>